[include mainsail.cfg]
[include timelapse.cfg]
[include plr.cfg]
[include hw-steppers.cfg]
[include hw-toolhead.cfg]
[include hw-displays.cfg]
[include KAMP_LiTE/KAMP_Settings.cfg]
[include KAMP_LiTE/Smart_Park.cfg]
[include KAMP_LiTE/Line_Purge.cfg]
[include macros-status.cfg]
# deamon
[include Demon_Klipper_Essentials_Unified/*cfg]
[include Demon_User_Files/*cfg]
[include ./Demon_Klipper_Essentials_Unified/Other_Files/Demon_User_Files_Updater/Extract_Demon_User_Files_Sovol.cfg]
[include Heat_Soak.cfg]
# end demon

# Disabled 
# [include chamber_hot.cfg] # Enabled after installing chamber module
# [include chopper_tune.cfg]
# [include Macro.cfg]


[danger_options]
autosave_includes: True
log_config_file_at_startup: False
log_statistics: False
log_bed_mesh_at_startup: False
log_velocity_limit_changes: False
log_pressure_advance_changes: False
single_mcu_trsync_timeout: 0.05
multi_mcu_trsync_timeout: 0.05
 
[printer]
kinematics: corexy
max_velocity: 1200           
max_accel: 40000             
minimum_cruise_ratio: 0.5    
max_z_velocity: 20           
max_z_accel: 500             
square_corner_velocity: 5.0  

[mcu] 
#canbus_uuid: 0d1445047cdd
canbus_uuid: e5093890c14e

[mcu extruder_mcu]
#canbus_uuid: 61755fe321ac
canbus_uuid: 62b63a8995c1

[lis2dw]
cs_pin: extruder_mcu:PB12
spi_software_sclk_pin: extruder_mcu:PB13
spi_software_mosi_pin: extruder_mcu:PB15
spi_software_miso_pin: extruder_mcu:PB14
axes_map: x,z,y

[exclude_object]

[gcode_arcs]
resolution: 1.0

[resonance_tester]
accel_chip: lis2dw
probe_points:
    76, 76, 30  
#accel_per_hz: 100
#min_freq: 35
#max_freq: 45
#max_smoothing: 0.25
#hz_per_sec: 1.0

[temperature_sensor mcu_temp]         
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor Host_temp]     
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[temperature_sensor Toolhead_Temp]
sensor_type: temperature_mcu
sensor_mcu: extruder_mcu

[virtual_sdcard] 
path: /home/sovol/printer_data/gcodes/

[input_shaper]
damping_ratio_x: 0.052
damping_ratio_y: 0.028

[probe_eddy_ng eddy]
sensor_type: ldc1612
i2c_mcu: extruder_mcu
i2c_bus: i2c2
#i2c_software_scl_pin: PB10
#i2c_software_sda_pin: PB11
x_offset: -19.8
y_offset: -0.75
tap_adjust_z: 0.090
tap_target_z: -1.000
tap_samples: 5
tap_max_samples: 10
tap_threshold: 350
debug: true
write_tap_plot: true
write_every_tap_plot: true

# [safe_z_home]
# home_xy_position: 75,75
# speed: 90.0
# z_hop: 5
# z_hop_speed: 10.0

[bed_mesh]
speed: 100
horizontal_move_z: 2.0
algorithm: bicubic 
mesh_min: 12,12            
mesh_max: 132,140 
probe_count: 20,20
fade_start: 0
fade_end: 20
            
[adc_temperature my_thermistor_e]
temperature1:25
resistance1:1268.60
temperature2:180
resistance2:1920.98
temperature3:300
resistance3:2398.52

[filament_switch_sensor filament_sensor]
pause_on_runout: False
switch_pin: PB2
runout_gcode:
    M117 Out of Filament
    CONTINUE_PRINT_D D={200}

[thermistor my_thermistor]
temperature1: 25
resistance1: 100000
temperature2: 50
resistance2: 18085.4
temperature3: 100
resistance3: 5762.6

[heater_bed]
heater_pin: PD12
sensor_type: my_thermistor  
sensor_pin: PC5
max_power: 1.0               
min_temp: -0            
max_temp: 125             
control : pid
pid_kp : 53.071
pid_ki : 1.792
pid_kd : 442.428

[verify_heater heater_bed]      
max_error: 120                
check_gain_time:20           
hysteresis: 5                
heating_gain: 2 

[fan]
#[fan_generic fan0] # fan
pin: extruder_mcu:PB0
max_power: 1.0
cycle_time: 0.015

[fan_generic bed_fan] # auxiliary fan
pin: PE11
max_power: 1.0
cycle_time: 0.015

#[fan_generic fan3]
#pin: PE14
#max_power: 1.0
#cycle_time: 0.015

#[temperature_fan exhaust_fan] # kalico  
[temperature_fan chamber] #demon macro 

pin: PB0                      
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
max_power: 0.8                  
shutdown_speed: 0   
kick_start_time: 0.5
cycle_time: 0.01
off_below: 0.1
min_temp: 0                     
max_temp: 80                 
target_temp: 0
max_delta: 1.0
control: watermark
gcode_id: D
tachometer_pin: PB1
tachometer_ppr: 1
tachometer_poll_interval: 0.0046

[heater_fan hotend_fan]      
pin: extruder_mcu:PA6   
max_power: 1.0      
cycle_time: 0.015         
kick_start_time: 0.5         
heater: extruder             
heater_temp: 45              
tachometer_pin: extruder_mcu:PA1
tachometer_ppr: 1
tachometer_poll_interval: 0.0013

[idle_timeout]
gcode: _IDLE_TIMEOUT
timeout: 1800

[save_variables]
filename =/home/sovol/printer_data/config/saved_variables.cfg

[shaketune]
result_folder: /home/sovol/printer_data/ShakeTune-results
number_of_results_to_keep: 5


#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 79.8
#*# shaper_type_y = ei
#*# shaper_freq_y = 68.6
#*#
#*# [telemetry]
#*# enabled = True
#*#
#*# [extruder]
#*# control = mpc
#*# block_heat_capacity = 17.8876
#*# sensor_responsiveness = 0.0953777
#*# ambient_transfer = 0.131120
#*# fan_ambient_transfer = 0.13112, 0.184158, 0.1933
#*#
#*# [probe_eddy_ng eddy]
#*# calibrated_drive_currents = 15
#*# calibration_version = 5
#*# reg_drive_current = 15
#*# tap_drive_current = 15
#*# calibration_15 = gASVygMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwVbnVtcHkuY29yZS5tdWx0aWFycmF5lIwMX3JlY29uc3RydWN0lJOUjAVudW1weZSMB25kYXJyYXmUk5RLAIWUQwFilIeUUpQoSwFLCoWUaAyMBWR0eXBllJOUjAJmOJSJiIeUUpQoSwOMATyUTk5OSv////9K/////0sAdJRiiUNQQ2LIg+NF8z+ZBn2Z6XH7P1Hu2Lkgxug/iX+YOqwM2T/Qc4S330TZP6L8zFfP3ds/0iDT/K2Bvb9zVYEsHlfWv4APg7AbMc4/aaWBNf0A0z+UdJRijAZkb21haW6UaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxDZSLhGuBmGPsoy0VcEm4Y+lHSUYowGd2luZG93lGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGKMB19zeW1ib2yUjAF4lIwGc3ltYm9slGgsdWKMCWZ0b2hfaGlnaJRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1C4p2pP/IMaQMhqKUAzhwlAGGsdJ2vs+D+swPbEGgfFP3FErQVkd/M/8pV2QEYnD0Ceg//TPh7qv9w/wKuhOBPAWcweMxt58j+/xK3qvlgGQJR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQQO2k+5iXhj6NdTAy/q6GPpR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijARodG9mlGgFKYGUfZQoaAhoC2gOSwCFlGgQh5RSlChLAUsKhZRoGIlDUOksIoTMfYY+XPpvFRg8GD5sR2BzK88NvlzvLMU2DQA+oTbzhUzW1L1+7mTUsAPovf5eZuy6Iee9K3G9LoJj9z3zGxQL0dTUPVu+1IFlo+W9lHSUYmgdaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxBApZUhxgxZP2YN9hJH8BNAlHSUYmgkaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxAAAAAAAADwvwAAAAAAAPA/lHSUYmgraCxoLWgsdWKMB2hfcmFuZ2WUXZQoRz9ZDMYhlaVAR0At////////ZYwHZl9yYW5nZZRdlChHQVaSR7ahbABHQVcqu+7rZABljAJkY5RLD3Uu
