[respond]
[include chopper_tune.cfg]
[include mainsail.cfg]
[include timelapse.cfg]
[include get_ip.cfg]
[include Macro.cfg]
[include plr.cfg]
#[include chopper_tune.cfg]
#[include chamber_hot.cfg] # Enabled after installing chamber module
  
[mcu] 
canbus_uuid: 0d1445047cdd

[mcu extruder_mcu]
canbus_uuid: 61755fe321ac

[lis2dw]
cs_pin: extruder_mcu:PB12
spi_software_sclk_pin: extruder_mcu:PB13
spi_software_mosi_pin: extruder_mcu:PB15
spi_software_miso_pin: extruder_mcu:PB14
axes_map: x,z,y

[exclude_object]

[gcode_arcs]
resolution: 1.0

[resonance_tester]
accel_chip: lis2dw
probe_points:
    76, 76, 30  
accel_per_hz: 50
min_freq: 1
max_freq: 100
max_smoothing: 0.20
hz_per_sec: 0.5

[temperature_sensor mcu_temp]         
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor Host_temp]     
sensor_type: temperature_host
min_temp: 0
max_temp: 100

[temperature_sensor Toolhead_Temp]
sensor_type: temperature_mcu
sensor_mcu: extruder_mcu

[virtual_sdcard] 
path: /home/sovol/printer_data/gcodes/

[printer]
kinematics: corexy
max_velocity: 1200           
max_accel: 3000             
minimum_cruise_ratio: 0.5    
max_z_velocity: 20           
max_z_accel: 500             
square_corner_velocity: 5.0  

[input_shaper]
damping_ratio_x: 0.052
damping_ratio_y: 0.028

[probe_eddy_current eddy]
sensor_type: ldc1612
z_offset: 3.5
i2c_mcu: extruder_mcu
i2c_bus: i2c2
x_offset: -19.8
y_offset: -0.75
vir_contact_speed: 3.0

[z_offset_calibration]
non_contact_probe: probe_eddy_current eddy
contact_probe: probe_eddy_current eddy
endstop_xy_position: 76.2,76.2                        
z_hop: 2                       
z_hop_speed: 15
internal_endstop_offset: -0.20 

[safe_z_home]
home_xy_position: 96,76.2
speed: 90.0
z_hop: 5
z_hop_speed: 10.0

[bed_mesh]
speed: 300
horizontal_move_z: 2.0
algorithm: bicubic 
mesh_min: 12,12            
mesh_max: 132,140 
probe_count: 20,20
fade_start: 0
fade_end: 20
scan_overshoot: 3
            
[stepper_x]   
step_pin: PE1
dir_pin: !PD7
enable_pin: !PD5
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: ^extruder_mcu:PA10
position_min: -10
position_endstop: -10
position_max: 155
homing_speed: 90
homing_retract_dist: 2

[tmc5160 stepper_x]
cs_pin: PE0
spi_software_mosi_pin: PB6
spi_software_miso_pin: PB5
spi_software_sclk_pin: PB4
interpolate: false
run_current: 3.5
sense_resistor: 0.05

[stepper_y]  
step_pin: PD3
dir_pin: !PD2
enable_pin: !PD0
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
endstop_pin: ^PD1
position_min: -2
position_endstop: 152.5
position_max: 152.5
homing_speed: 90
homing_retract_dist: 2

[tmc5160 stepper_y]
cs_pin: PD4
spi_software_mosi_pin: PB6
spi_software_miso_pin: PB5
spi_software_sclk_pin: PB4
interpolate: false
run_current: 3.5
sense_resistor: 0.05 

[stepper_z] 
step_pin:PA5
dir_pin: !PA4   
enable_pin:!PA7
rotation_distance: 4             
microsteps: 16 
endstop_pin: probe:z_virtual_endstop  
position_max: 155
position_min: -5
homing_speed: 10.0
homing_retract_dist: 3.0
homing_retract_speed: 5.0
second_homing_speed: 5

[tmc2209 stepper_z]
uart_pin: PA6
interpolate: true             
run_current: 1.5                  
sense_resistor: 0.150          
uart_address:3

[adc_temperature my_thermistor_e]
temperature1:25
resistance1:1268.60
temperature2:180
resistance2:1920.98
temperature3:300
resistance3:2398.52

[extruder]
step_pin: extruder_mcu:PA8   
dir_pin: extruder_mcu:PA9
enable_pin: !extruder_mcu: PA11   
rotation_distance: 6.5 
microsteps: 16                
full_steps_per_rotation: 200 
nozzle_diameter: 0.400        
filament_diameter: 1.75  
max_extrude_only_distance: 150     
max_extrude_cross_section: 60
heater_pin: extruder_mcu:PB7 
sensor_type: my_thermistor_e  
pullup_resistor: 11500
sensor_pin: extruder_mcu:PA5  
min_temp: 0   
max_temp: 355                
max_power: 1.0                
min_extrude_temp: 150         
control : pid
pid_kp : 34.838
pid_ki : 4.976
pid_kd : 62.823
pressure_advance: 0.025       
pressure_advance_smooth_time: 0.025   

[tmc2209 extruder]
uart_pin: extruder_mcu:PA12
interpolate: True             
run_current: 0.8                       
uart_address: 3
sense_resistor: 0.150          

[verify_heater extruder]      
max_error: 120                
check_gain_time:20           
hysteresis: 5                
heating_gain: 2               

[filament_switch_sensor filament_sensor]
pause_on_runout: False
switch_pin: PB2
runout_gcode:
    M117 Out of Filament
    CONTINUE_PRINT_D D={200}

[thermistor my_thermistor]
temperature1: 25
resistance1: 100000
temperature2: 50
resistance2: 18085.4
temperature3: 100
resistance3: 5762.6

[heater_bed]
heater_pin: PD12
sensor_type: my_thermistor  
sensor_pin: PC5
max_power: 1.0               
min_temp: -0            
max_temp: 125             
control : pid
pid_kp : 53.071
pid_ki : 1.792
pid_kd : 442.428

[verify_heater heater_bed]      
max_error: 120                
check_gain_time:20           
hysteresis: 5                
heating_gain: 2 

[fan_generic fan0] # fan
pin: extruder_mcu:PB0
max_power: 1.0
cycle_time: 0.015

[fan_generic fan2] # auxiliary fan
pin: PE11
max_power: 1.0
cycle_time: 0.015

[fan_generic fan3]
pin: PE14
max_power: 1.0
cycle_time: 0.015

[temperature_fan exhaust_fan]  
pin: PB0                      
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
max_power: 0.8                  
shutdown_speed: 0   
kick_start_time: 0.5
cycle_time: 0.01
off_below: 0.1
min_temp: 0                     
max_temp: 80                 
target_temp: 32 
max_delta: 1.0
control: watermark
gcode_id: D
tachometer_pin: PB1
tachometer_ppr: 1
tachometer_poll_interval: 0.0046

[heater_fan hotend_fan]      
pin: extruder_mcu:PA6   
max_power: 1.0      
cycle_time: 0.015         
kick_start_time: 0.5         
heater: extruder             
heater_temp: 45              
tachometer_pin: extruder_mcu:PA1
tachometer_ppr: 1
tachometer_poll_interval: 0.0013

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PA8,   EXP1_2=PC9,
    EXP1_3=PA10,  EXP1_4=PA9,
    EXP1_5=PC11,  EXP1_6=PC10,
    EXP1_7=PD8,   EXP1_8=PC12,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PB14,  EXP2_2=PB13,
    EXP2_3=PC7,   EXP2_4=PB12,
    EXP2_5=PC6,   EXP2_6=PB15,
    EXP2_7=PC8,   EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<5V>

[display]                    
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
contrast: 63
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2

[neopixel Screen_Colour]     
pin: EXP1_6
chain_count: 3
color_order: RGB             
initial_RED: 1.0             
initial_GREEN: 1.0         
initial_BLUE: 1.0                     

[output_pin main_led]
pin:PD13
value:1

[idle_timeout]
gcode: _IDLE_TIMEOUT
timeout: 1800

[save_variables]
filename =/home/sovol/printer_data/config/saved_variables.cfg

# shaketune 

[shaketune]
result_folder: ~/printer_data/config/ShakeTune_results
#    Path where the processed results will be stored. If the folder doesn't exist,
#    it will be automatically created. You can change this if you'd like to store 
#    results in a different location.
number_of_results_to_keep: 10
#    This setting defines how many results you want to keep in the result folder.
#    Once the specified number is exceeded, older results will be automatically deleted
#    to free up space on the SD card and avoid cluttering the results folder.
keep_raw_data: False
#    If set to True, Shake&Tune will store both the processed graphs and the raw accelerometer
#    .stdata files in the results folder. This can be useful for debugging or archiving purposes.
#    Please always attach them when reporting any issues on GitHub or Discord.
show_macros_in_webui: True
#    Mainsail and Fluidd doesn't create buttons for system commands (macros that are not part
#    of the printer.cfg file). This option allow Shake&Tune to inject them into the webui at runtime.
#    If set to False, the macros will be hidden but still accessible from the console by typing
#    their names manually, which can be useful if you prefer to encapsulate them into your own macros.
timeout: 600
#    This defines the maximum processing time (in seconds) to allows to Shake&Tune for generating 
#    graphs from a .stdata file. 10 minutes should be more than enough in most cases, but if you have
#    slower hardware (e.g., older SD cards or low-performance devices), increase it to prevent timeouts.
measurements_chunk_size: 2
#    Each Shake&Tune command uses the accelerometer to take multiple measurements. By default,
#    Shake&Tune will write a chunk of data to disk every two measurements, and at the end of the
#    command will merge these chunks into the final .stdata file for processing. "2" is a very
#    conservative setting to avoid Klipper Timer Too Close errors on lower end devices with little
#    RAM, and should work for everyone. However, if you are using a powerful computer, you may
#    wish to increase this value to keep more measurements in memory (e.g., 15-20) before writing
#    the chunk and avoid stressing the filesystem too much.
#max_freq: 200
#    This setting defines the maximum frequency at which the calculation of the power spectral density
#    is cutoff. The default value should be fine for most machines and accelerometer combinations and
#    avoid touching it unless you know what you're doing.
# dpi: 300
#    Controls the resolution of the generated graphs. The default value of 300 dpi was optimized
#    and strikes a balance between performance and readability, ensuring that graphs are clear
#    without using too much RAM to generate them. Usually, you shouldn't need to change this value.



#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 79.8
#*# shaper_type_y = ei
#*# shaper_freq_y = 68.6
#*#
#*# [probe_eddy_current eddy]
#*# calibrate =
#*# 	0.050000:6057681.538,0.090000:6055094.950,0.130000:6052334.705,
#*# 	0.170000:6049717.784,0.210000:6047145.281,0.250000:6044675.935,
#*# 	0.290000:6042260.259,0.330000:6039781.775,0.370000:6037360.832,
#*# 	0.410000:6035080.526,0.450000:6032871.362,0.490000:6030616.164,
#*# 	0.530000:6028431.598,0.570000:6026366.699,0.610000:6024357.621,
#*# 	0.650000:6022290.250,0.690000:6020345.597,0.730000:6018427.506,
#*# 	0.770000:6016581.863,0.810000:6014777.373,0.850000:6012925.596,
#*# 	0.890000:6011153.452,0.930000:6009508.148,0.970000:6007883.459,
#*# 	1.010000:6006145.914,1.050000:6004526.101,1.090000:6003008.764,
#*# 	1.130000:6001378.797,1.170000:5999730.318,1.210000:5998660.966,
#*# 	1.250000:5997139.826,1.290000:5995781.593,1.330000:5994428.523,
#*# 	1.370000:5993021.177,1.410000:5991691.295,1.450000:5990425.166,
#*# 	1.490000:5989215.207,1.530000:5987949.206,1.570000:5986714.777,
#*# 	1.610000:5985561.572,1.650000:5984396.856,1.690000:5983241.104,
#*# 	1.730000:5982106.321,1.770000:5981040.422,1.810000:5979989.957,
#*# 	1.850000:5978922.345,1.890000:5977928.807,1.930000:5976924.926,
#*# 	1.970000:5975956.466,2.010000:5975023.430,2.050000:5974044.243,
#*# 	2.090000:5973085.482,2.130000:5972188.480,2.170000:5971316.576,
#*# 	2.210000:5970400.142,2.250000:5969521.757,2.290000:5968702.063,
#*# 	2.330000:5967892.516,2.370000:5967047.284,2.410000:5966252.729,
#*# 	2.450000:5965488.214,2.490000:5964791.424,2.530000:5964005.223,
#*# 	2.570000:5963244.323,2.610000:5962530.695,2.650000:5961838.424,
#*# 	2.690000:5961138.113,2.730000:5960469.373,2.770000:5959788.107,
#*# 	2.810000:5959143.922,2.850000:5958502.546,2.890000:5957853.243,
#*# 	2.930000:5957232.840,2.970000:5956620.723,3.010000:5956021.212,
#*# 	3.050000:5955426.078,3.090000:5954847.597,3.130000:5954269.678,
#*# 	3.170000:5953719.143,3.210000:5953160.327,3.250000:5952601.141,
#*# 	3.290000:5952059.209,3.330000:5951557.629,3.370000:5951054.748,
#*# 	3.410000:5950524.344,3.450000:5950024.869,3.490000:5949558.884,
#*# 	3.530000:5949086.476,3.570000:5948598.239,3.610000:5948171.524,
#*# 	3.650000:5947707.523,3.690000:5947275.724,3.730000:5946846.865,
#*# 	3.770000:5946397.604,3.810000:5945961.371,3.850000:5945571.635,
#*# 	3.890000:5945190.579,3.930000:5944756.267,3.970000:5944369.037,
#*# 	4.010000:5943972.837,4.050000:5943769.831
