###################################################
#######>>>>>>>>>>  3DPrintDemon  <<<<<<<<<<<#######
#######   https://github.com/3DPrintDemon   ####### 

# Macro set includes all NEW fully automated LOAD/UNLOAD_CLEAN macros for one click loading & unloading followed 
# by nozzle cleaning & cooldown, customise all macros via variables, plus selectable temps & load speeds!

# THIS FILE HAS BEEN ADAPTED FOR A SOVOL ZERO WITH A FRONT-LEFT SCRUBBER.
# CHECK ALL VALUES ON YOUR OWN MACHINE BEFORE USE.

###################################################### CHANGE YOUR CLEAN NOZZLE VALUES HERE! ######################################################
###################################################################################################################################################

[gcode_macro _CLEAN_VARIABLES]
                                                 
####################################################################################################################################################
## ACTIVATE THE SYSTEM HERE!
variable_have_you_set_this_up: True
                                                 
####################################################################################################################################################
## GLOBAL CLEANING SETTINGS ########################################################################################################################

## CLEAN AFTER HOMING
variable_clean_first: True

## CLEANING MODES
variable_random_clean_x: True
variable_random_clean_y: True

## CLEANING TRAVEL SETTINGS
variable_min_travel_to_clean_z: 10.0
variable_clean_travel_speed: 150

## CLEANING SPEED
variable_pass_spd: 40

## EXIT CLEANING LOCATION
variable_end_position_x: -8.0
variable_end_position_y: 10.0

## PARK AFTER EXITING CLEANING
variable_park_x: -8.0
variable_park_y: 10.0
variable_park_z: 10.0

####################################################################################################################################################
## LINEAR CLEANING MODE ############################################################################################################################

## LINEAR CLEANING PASSES
variable_linear_pass_count: 8

## LINEAR CLEANING START LOCATION
variable_linear_clean_start_x: -7.8
variable_linear_clean_start_y: 35.0
variable_linear_clean_start_z: -2.0

## LINEAR CLEANING DIRECTIONS
variable_linear_clean_axis: "Y"
variable_linear_clean_positive_dir: False

## LINEAR CLEANING DISTANCE
variable_linear_clean_distance: 30.0

####################################################################################################################################################
## RANDOM CLEANING MODE ############################################################################################################################

## RANDOM CLEANING PASSES
variable_pass_count: 20

## RANDOM CLEANING START LOCATION
variable_start_x: -8.0
variable_start_y: 20.0
variable_start_z: -2.0

## RANDOM CLEANING MOVEMENT RANGES
variable_clean_min_x: -9.5
variable_clean_max_x: -6.0
variable_clean_min_y: 5.0
variable_clean_max_y: 35.0

####################################################################################################################################################
## GLOBAL PURGE BUCKET SETTINGS ####################################################################################################################

## PURGE TEMPS & LOAD/UNLOAD LENGTHS
variable_nozzle_pre_temp: 175
variable_nozzle_post_temp: 175
variable_load_clean_load_dist: 70.0
variable_unload_clean_unload_dist: 100.0

####################################################################################################################################################
## PURGE BUCKET LEGACY MODE SETTINGS ###############################################################################################################

## LEGACY PURGE AMOUNTS
variable_load_clean_purge_dist: 20.0
variable_unload_clean_purge_dist: 15.0

## LEGACY PURGE LOCATIONS
variable_purge_min_x: -9.0
variable_purge_max_x: -7.0
variable_purge_legacy_y_park: 10.0
variable_purge_legacy_z_park: 10.0

####################################################################################################################################################
## PURGE BUCKET POOP_N_SHOOT MODE ##################################################################################################################

## ACTIVATE THE PELLET FORMING SYSTEM HERE!
variable_poop_n_shoot: False

####################################################################################################################################################
## PELLET FORMING DEFAULTS #########################################################################################################################
variable_only_for_loading: False

variable_shoot_poop_along_x: False
variable_extra_pre_poop_purge: True

variable_poop_flow_rate: 100

variable_wait_to_clean: True
variable_clean_after_shooting: False

variable_fan_while_pooping: False
variable_pooping_fan_speed: 0.4
variable_post_poop_fan_speed: 1.0

variable_poop_shooting_temp: 125

variable_heater_on_for_wipe: False
variable_slow_rise_pre_wipe: 0.0
variable_pause_for_wipe_away: 10
variable_pause_for_full_unload: 5

variable_use_random_spot: False
variable_random_spot_range: 10.0

## PELLET FORMING PARK LOCATION
variable_purge_x_park: -8.0
variable_purge_y_park: 10.0

####################################################################################################################################################
## WARNING SET WITH CARE!! #########################################################################################################################
variable_park_to_poop_z: -2.0
variable_park_to_shoot_poop_z: 10.0
variable_shoot_poop_z: 5.0
variable_post_shooting_poop_Z: 10.0
####################################################################################################################################################

## WIPE FROM PELLET FORMING PARK LOCATION
variable_wipe_away_from_poop_x: 0.0
variable_wipe_away_from_poop_y: 10.0
variable_wipe_away_from_poop_z: 5.0
variable_wipe_away_from_poop_speed: 100

## PARK TO SHOOT PELLET LOCATION
variable_park_to_shoot_poop_x: -8.0
variable_park_to_shoot_poop_y: 10.0
                                                 
## SHOOT PELLET MOVE
variable_shoot_poop_x: 0.0
variable_shoot_poop_y: 10.0
variable_shoot_poop_speed: 100

## OPERATION END PARKING LOCATION
variable_post_shooting_poop_x: -8.0
variable_post_shooting_poop_y: 10.0

gcode:
    G4 P0


[gcode_macro _CLEAN_VARS_VER]
###################################################################################################################################################
## DEMON VERSION NUMBER ###########################################################################################################################

variable_demon_version: "1.1.3"

gcode:
    G4 P0


###################################################
#######>>>>>>>>>>  3DPrintDemon  <<<<<<<<<<<#######
#######   https://github.com/3DPrintDemon   #######
