###################################################
#######>>>>>>>>>>  3DPrintDemon  <<<<<<<<<<<#######
#######   https://github.com/3DPrintDemon   #######


################################################## CHANGE YOUR START PRINT VALUES HERE!! ##########################################################
###################################################################################################################################################

[gcode_macro _SYSTEM_VARIABLES]
###################################################################################################################################################
## SYSTEM VARIABLES ###############################################################################################################################

variable_orca_enable: False
variable_orca_multi_surface: False
variable_combine_offset: False

variable_floating_bed_fans: True
variable_floating_bed_fans_max: 0.85

variable_use_slicer_flow: False
variable_use_slicer_pa_values: False
variable_use_slicer_feed_rate: True
variable_feed_rate: 100

variable_use_adaptive_qgl: False
variable_adaptive_meshing: True
variable_use_kamp_adaptive_purge: True
variable_use_kamp_smart_park: True

variable_auto_reset_eddy_offset: False
variable_eddy_park_x: 76
variable_eddy_park_y: 76

variable_z_tracker_reduced_monitoring: False

variable_sovol_plr: False

gcode:
    G4 P0


[gcode_macro _HOMING_VARIABLES]
###################################################################################################################################################
## DEMON HOMING CONTROL SETTINGS ##################################################################################################################

## HOMING DEFAULT SETTINGS
variable_home_y_first: False
variable_override_home_power_safety: False
variable_home_power: 0.7
variable_pre_home_lift: 10
variable_z_lift_speed: 15
variable_axis_backoff_speed: 35
variable_axis_backoff_distance: 10
variable_axis_register_clear_wait: 2.5
variable_homing_movement_travel_speed: 150

## FIRST HOMED AXIS PARK SETTINGS
variable_park_first_homed_axis: False
variable_first_homed_axis_poz: 76.0
Variable_parking_travel_speed: 100

## HOMING PROBE POINT SETTINGS
variable_set_probe_point_default: False
variable_set_probe_custom_x: 76
variable_set_probe_custom_y: 76

###################################################################################################################################################
## EDDY NG SETTINGS ###############################################################################################################################
variable_eddy_ng_static_probe_z: 2.0
variable_eddy_ng_tap_temperature: 150
variable_eddy_ng_tap_bed_off: False
variable_eddy_ng_random_tap: True
variable_eddy_ng_random_tap_range: 15
variable_eddy_ng_custom_tap_spot: False
variable_eddy_ng_custom_tap_spot_x: 76
variable_eddy_ng_custom_tap_spot_y: 76

###################################################################################################################################################
## VORON STYLE Z ENDSTOP SWITCH SETTINGS ##########################################################################################################
variable_post_z_switch_backoff: True
variable_post_z_switch_backoff_y_dist: 15
variable_post_z_switch_backoff_height: 25

variable_z_endstop_loaction_x: 8888
variable_z_endstop_loaction_y: 8888

gcode:
    G4 P0


[gcode_macro _FIL_CHANGE_VARIABLES]
###################################################################################################################################################
## FILAMENT CHANGE/LOAD/UNLOAD MACRO SETTINGS #####################################################################################################

## FILAMENT LOAD CUSTOM TEMPERATURES
variable_legacy_load: False
variable_force_temp_select: False
variable_user_temp_a: 225
variable_user_temp_b: 245

## FILAMENT CHANGE PARKING LOCATION
variable_filament_change_park_x: 76
variable_filament_change_park_y: 10
variable_filament_change_park_min_z: 40

## EXTRUDE LENGTHS
variable_load_length: 125
variable_load_purge_length: 20
variable_unload_length: 125
variable_unload_purge_length: 20
variable_max_extrude_speed: 20

## AUTO COOL SETTINGS
variable_auto_cool: True
variable_auto_cool_on_pause: True
variable_auto_cool_noz_off: True
variable_auto_cool_load_timer: 15
variable_auto_cool_unload_timer: 120
variable_auto_cool_off_timer: 120

gcode:
    G4 P0


[gcode_macro _START_VARIABLES]
###################################################################################################################################################
## ORCA MULTI SURFACE BUILD PLATE OFFSET ADJSUTMENTS ##############################################################################################

variable_orca_cool_plate: 0.00
variable_orca_engineering_plate: 0.00
variable_orca_smooth_hi_temp_plate: 0.00
variable_orca_textured_pei_plate: 0.00
variable_orca_textured_cool_plate: 0.00

###################################################################################################################################################
## PRINTER HEAT SOAK HANDLING #####################################################################################################################

## HEAT SOAK DEFAULT SETTINGS
variable_start_my_print_already: False
variable_chamber_temp_wait: False
variable_post_print_cool: 30

## PRINTER HEAT SOAK TIMERS
variable_lo_temp_timer: 5
variable_hi_temp_timer: 10

## PRINTER BED CHECKER HEAT SOAK
variable_bed_checker_enable: True
variable_force_bed_checker: False
variable_extra_initial_wait: False
variable_extra_initial_wait_time: 1.0
variable_probe_safety_margin: 10
variable_check_ref_point_x: 76
variable_check_ref_point_y: 76
variable_bed_check_interval: 1.0
variable_counter_limit: 10
variable_bed_check_tolerance: 0.0112
variable_bed_check_tolerance_chain: 2

###################################################################################################################################################
## PAUSE & TIMEOUT SETTINGS #######################################################################################################################
variable_infinite_pause: True
variable_kill_fan_on_pause: True

###################################################################################################################################################
## TOOLHEAD PARKING SETTINGS ######################################################################################################################
variable_use_custom_park: False
variable_system_choose_z: True

variable_custom_park_x: 8888
variable_custom_park_y: 8888
variable_custom_park_z: 8888

###################################################################################################################################################
## PRESENT & STOW_TOOLHEAD MACRO SETTINGS #########################################################################################################
variable_present_use_default: True
variable_present_toolhead_x: 76
variable_present_toolhead_y: 10
variable_present_toolhead_z: 80
variable_present_speed: 60

variable_stow_toolhead_x: 76
variable_stow_toolhead_y: 140
variable_stow_toolhead_z: 20
variable_stow_speed: 60

###################################################################################################################################################
## PRINTER LIGHTS SETTINGS ########################################################################################################################
variable_printer_lights_print: 1
variable_printer_lights_finish: 0.2

variable_auto_lights_repower: True
variable_auto_lights_set_power: 1.0

variable_neopixel_off: True

###################################################################################################################################################
## NEVERMORE FAN POST PRINT #######################################################################################################################
variable_nevermore_asa_abs_only: True
variable_nevermore_post_timer: False
variable_nevermore_leave_running: False

variable_nevermore_post_speed: 0.6
variable_nevermore_post_run_time: 5

###################################################################################################################################################
## PRINT_START PURGE LINE DRAW ####################################################################################################################
variable_purge_lines: True

###################################################################################################################################################
## LEGACY STATIC PURGE LINE SETUP #################################################################################################################
variable_purge_along_y: True

variable_start_x_position: 2
variable_start_y_position: 8
variable_purge_line_length: 130

###################################################################################################################################################
## WELCOME MESSAGES ###############################################################################################################################
variable_screen_msg: "DEMONWARE Online"
variable_console_msg: "Welcome to Demon Essentials! Happy printing! These macros were written by a human, no AI was used in their creation!"

gcode:
    G4 P0


[gcode_macro _HARDWARE_VARIABLES]
###################################################################################################################################################
## PRINTER HARDWARE OPTIONS #######################################################################################################################
variable_klicky_probe: False
variable_chamber_fan: False
variable_chamber_sensor: False
variable_chamber_heater: False
variable_bed_fans: False
variable_runout_sensor: True
variable_encoder_runout_sensor: False
variable_nevermore: False
variable_shutdown_relay: False
variable_printer_lights: False
variable_neopixel_led: False
variable_nozzle_cleaner: True
variable_purge_bucket: False
variable_aes_system: False

###################################################################################################################################################
## CHAMBER HEATER - DANGER WILL ROBINSON!! ########################################################################################################
variable_danger_will_robinson: False
variable_heater_neo: False

variable_heater_low: 55
variable_heater_mid: 75
variable_heater_high: 90

###################################################################################################################################################
## MAINS POWER RELAY SETTINGS #####################################################################################################################
variable_timeout_power: True
variable_all_in_one_pi: False
variable_host_shutdown: False

gcode:
    G4 P0


[gcode_macro _LOGGING_VARIABLES]
###################################################################################################################################################
## EXTENDED CONSOLE LOGGING #######################################################################################################################
variable_eddy_verbose: True
variable_apa_readback_enable: False
variable_bed_fans_settings_readback: False

gcode:
    G4 P0


[gcode_macro _MESH_BUILDER_VARIABLES]
############################################# CHANGE YOUR AUTO MESH BUILDING VALUES HERE!! ########################################################
###################################################################################################################################################

variable_mesh_pla_bed_temp: 60
variable_mesh_asa_bed_temp: 100
variable_mesh_abs_bed_temp: 100
variable_mesh_petg_bed_temp: 75
variable_mesh_tpu_bed_temp: 50

variable_lo_heat_soak_threshold: 22
variable_hi_heat_soak_threshold: 42

variable_mesh_lo_temp_timer: 5
variable_mesh_hi_temp_timer: 10

variable_use_bed_fans: False

gcode:
    G4 P0


[gcode_macro _Z_CALIBRATION_VARIABLES]
################################################# CHANGE YOUR Z CALIBRATION VALUES HERE!! #########################################################
###################################################################################################################################################

variable_noz_pre_temp: 180
variable_heat_soak_timer: 10
variable_heat_soak_threshold: 25

gcode:
    G4 P0


[gcode_macro _READYUP_VARIABLES]
################################################# CHANGE YOUR READY UP TEMP VALUES HERE!! #########################################################
###################################################################################################################################################

variable_ready_up_pla_noz: 150
variable_ready_up_pla_bed: 60
variable_ready_up_asa_noz: 150
variable_ready_up_asa_bed: 100
variable_ready_up_petg_noz: 150
variable_ready_up_petg_bed: 75
variable_ready_up_tpu_noz: 150
variable_ready_up_tpu_bed: 70

gcode:
    G4 P0


[gcode_macro _USER_SETTINGS_VER]
###################################################################################################################################################
## DEMON VERSION NUMBER ###########################################################################################################################
variable_demon_version: "3.0.2"

gcode:
    G4 P0


###################################################
#######>>>>>>>>>>  3DPrintDemon  <<<<<<<<<<<#######
#######   https://github.com/3DPrintDemon   #######
